{% extends "base.html" %} 
{% load i18n %}
{% block title %}Log in{% endblock %} 

{% block content %} 

	<div class="pagefragment">
		<div class="loginsection">
	   <h1>{% trans 'User Login'%}</h1>
   {% if form.errors %} 
      <ul class="errorlist">
				<li>{% trans 'Your username and password did not match. Please try again.' %}</li>
			</ul> 
    {% endif %} 
    <form method="post" action={%url django.contrib.auth.views.login%} class="loginform"> 
      <p><label for="id_username">{% trans 'Username:'%}</label> 
        {{ form.username }}</p> 
      <p><label for="id_password">{% trans 'Password:'%}</label> 
        {{ form.password }}</p> 
				<input type="hidden" name="next" value="{{ next }}" />
      <input type="submit" value="login" /> 
    </form> 
		</div>
	</div> <!-- End pagefragment -->
	
{% endblock %} 

